<div class="header">
  <nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Wedding</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">RSVP</a></li>
    <li><a ng-href="#">Information</a></li>
    <li><a ng-href="#">Travel</a></li>
    <li><a ng-href="#">Photos</a></li>
    <li><a ng-href="#">Contact Us</a></li>
  </ul>
  </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="jumbotron">
  <h1>Please Join Us</h1>
  <p class="lead">
    <img src="images/151_320.jpg" alt="Victor and David"><br>
    June 14th, 2014
  </p>
</div>

<div class="row marketing">
  <h4>Welcome!</h4>
  <p>
    Thank you for visiting our wedding website.  Please check back again in a week for additional information such as ceremony and reception venues, accomodations, and our story.
  </p>
</div>

<div class="footer">
  <p>♥ from David and Victor</p>
</div>
